
.wrapper {
  /*background-color: blue;*/
  height:40%;
  width: 100%;
  background: url("./cards-bck.jpg") ;
  position: absolute;
  z-index: -3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.game-controls {
  z-index: 1;
  margin-left:12.5%;
  margin-right:12.5%;
  margin-top: 12.5%;
  position: relative;
}
.game-overlay {
  height:100%;
  width: 100%;
  /*background-color: green;*/
  position: absolute;
  /*opacity: 0.5;*/
  background-color:rgba(50,255,50,0.6);
  z-index: -1;
  top:0px
}
.game-overlay h1 {
  color: white ;
  margin-left: 12.5%;
  font-size: 42pt;
}

.game-tab {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;

}
  .create-game div{
    /*background-color: red; */
    display: block;
    padding: 10px;
  }

  .game-window {
    background-color:rgba(60, 179, 113);
    width: 100%;
    box-shadow: 0px 5px  #888888;
    border-style: solid;
    border-width: 2px;
      border-radius: 25px;
      font-family: Verdana,sans-serif;
  }

  .game-controls button {
      background-color:rgba(5,37,23,4);
      color: white;

  }

  .game-tab {
    display:block;
    height:300px;
    color:white;
  }

  .join-game {

    display:none;
    height: 100%;
    overflow: hidden;
    border-top: none;
    background-color: rgba(5,37,23,4);
    border-bottom-left-radius:  20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    box-sizing: border-box;

  }

 .game {
   display:none;
   height: 100%;
   overflow: hidden;
   border-top: none;
   background-color: green;
   border-bottom-left-radius:  20px;
   border-bottom-right-radius: 20px;
   padding: 10px;
   box-sizing: border-box;


 }


  .tablinks{
    color: white;
    height: 50px;
  }

  .lt.tablinks{
    color: white;
    border-radius: 25px 0px 0px 0px;
     border-bottom: none;
      background-color:rgba(60, 179, 113);
  }

  .rt.tablinks{
    border-bottom: none;
    border-right: none;
    width:90px;

  }
  .rt.tablinks.start-game {
    background-color: green;
    width:90px;
  }
#create-game{
  width:100px;
  height: 50px;
  color:white;
  position: absolute;
  border-radius: 10px;
  background-color: rgb(51, 153, 51);
}
.user-input .info:hover {
  cursor: pointer;
}
.bj-game-list .list-data {
  overflow-y: auto;
  max-height: 150px;
}
.bj-game-list .user-input .info {
  margin-left: 5px;
}
.bj-game-list .list-data p:first-of-type {
  border-top: 1px solid green;
}
.bj-game-list .list-data p {
  font-size: 11pt;
  padding: 5px;
  margin: 0px;
  border-bottom: 1px solid green;
}
.bj-game-list .list-data p:hover {
  background-color: #3D4849;
  cursor: pointer;

}

.game .cardHolder {
   display: inline-block;
   position: relative;
   margin-right: 5px;
}


.game-wrapper {
  position: relative;
  display: grid;
}

.deck-card-window {
  position: relative;
  left:25%;
  height:300px;
  width: 205px;

}

.deck-card-window .deckCard img{
  width: 200px;
  height: 250x;
}

.playerHand {
  min-height: 100px;
}

.card {
  position: relative;
}
.game .cardHolder .cardOverlay {
  display: none;
  box-sizing: border-box;
  position: absolute;

  height:100%;
  width: 100%;
  background-color:rgba(50,55,255,0.8);

}


.game .cardHolder:hover .cardOverlay {
  display:block;
}

.game .cardHolder:hover .cardOverlay span {
  cursor: pointer;
  margin: auto;
  color: #90EE90;
  font-weight: 1000;
  font-size: 72px;
  padding-left: 19%;
  padding-top: 25%;
}
.view {

  height: 800px;
  overflow-y: hidden;
}

.current-player-playing {
  border-bottom: 5px solid red;
  margin-right: 10px;
  width: 50px;
}
