

.game-overlay {
  height:100%;
  width: 100%;
  /*background-color: green;*/
  position: absolute;
  /*opacity: 0.5;*/
  background-color:rgba(50,255,50,0.6);
  z-index: -1;
  top:0px
}
.game-overlay h1 {
  color: white ;
  margin-left: 12.5%;
  font-size: 42pt;
}

.game-tab {
  
  width: 100%;

}
  .create-game div{
    /*background-color: red; */
    display: block;
    padding: 10px;
  }

  .game-window {
    background-color:rgba(60, 179, 113);
    width: 100%;
    box-shadow: 0px 5px  #888888;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    font-family: Verdana,sans-serif;
    position: relative;
  }
    
    .game-modal {
      
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 5;
      display: none;
 
    }
    .game-modal.active { 
      display: block;
    }

    .text-area {
      position: relative;
      margin: 25%;
      margin-top: 10%;
      height: 300px;
      background-color: grey;
      opacity: 1;
      color: white;
      font-size: 16px;
      overflow: auto;
      padding: 10px;
     
    }

    .text-area button {
      display: block;
      margin: auto;
      margin-top: 20px;
      width: 40%;
      height: 30%;
      font-size: 22px;
    }

  

  .game button {
      background-color:rgba(5,37,23,0.2);
      color: white;
      position: relative;
      cursor: not-allowed;
      pointer-events: none;

  }

  .game button.active {
    background-color:rgba(5,37,23,4);
    color: white;
    position: relative;
    cursor: pointer;
    pointer-events: auto;

}

  .game-tab {
    display:block;
    height:300px;
    color:white;
  }

  .join-game {

    display:none;
    height: 100%;
    overflow: hidden;
    border-top: none;
    background-color: rgba(5,37,23,4);
    border-bottom-left-radius:  20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    box-sizing: border-box;

  }

 .game {
   display:none;
   height: 100%;
   overflow: hidden;
   border-top: none;
   background-color: green;
   border-bottom-left-radius:  20px;
   border-bottom-right-radius: 20px;
   padding: 10px;
   box-sizing: border-box;


 }


  .tablinks{
    color: white;
    height: 50px;
    background-color: rgba(5,37,23,4);
  }

  .lt.tablinks{
    color: white;
    border-radius: 25px 0px 0px 0px;
     border-bottom: none;
      background-color:rgba(60, 179, 113);
  }

  .rt.tablinks{
    border-bottom: none;
    border-right: none;
    width:90px;

  }
  .rt.tablinks.start-game {
    background-color: green;
    width:90px;
  }
#create-game{
  width:100px;
  height: 50px;
  color:white;
  position: absolute;
  border-radius: 10px;
  background-color: rgb(51, 153, 51);
}
.user-input .info:hover {
  cursor: pointer;
}
.bj-game-list .list-data {
  overflow-y: auto;
  max-height: 150px;
}
.bj-game-list .user-input .info {
  margin-left: 5px;
}
.bj-game-list .list-data p:first-of-type {
  border-top: 1px solid green;
}
.bj-game-list .list-data p {
  font-size: 11pt;
  padding: 5px;
  margin: 0px;
  border-bottom: 1px solid green;
}
.bj-game-list .list-data p:hover {
  background-color: #3D4849;
  cursor: pointer;

}

.game .cardHolder {
   display: inline-block;
   position: relative;
   margin-right: 5px;
}


.game-wrapper {
  position: relative;
}

.deck-card-window {
  position: relative;
  height:150px;
  width: 100px;

}

.deck-card-window .deckCard img{
  width: 100px;
  height: 125px;
}

.playerHand {
  margin-top: 15px;
  min-height: 100px;
  overflow: auto;
  max-height: 115px;
  margin-bottom: 15px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: rgb(60, 179, 80);
}

.card {
  position: relative;
}
.game .cardHolder .cardOverlay {
  display: none;
  box-sizing: border-box;
  position: absolute;

  height:100%;
  width: 100%;
  background-color:rgba(50,55,255,0.8);

}


.game .cardHolder:hover .cardOverlay {
  display:block;
}

.game .cardHolder:hover .cardOverlay span {
  cursor: pointer;
  margin: auto;
  color: #90EE90;
  font-weight: 1000;
  font-size: 72px;
  padding-left: 19%;
  padding-top: 25%;
}
.view {

  height: 800px;
  overflow-y: hidden;
}

.current-player-playing .card-count{
  border-bottom: 5px solid red;
 
} 

.play-area {
 display: inline-block;
 position: relative;
 height: 250px;
 width: 100%;
}

.play-area-col1{
  display: inline-block;
  width: 200px;
  height: 100px;
  position: relative;
  
}
.play-area-col2 {
  display: inline-block;
  width: 300px;
  
}
.deck-info {
  position: absolute;
  top:0;
}

.lastcard {
  border: red solid 3px;
}
.play-area-cards-played{

  display: block;
  width: 100%;
  height: 125px;
  opacity: auto;

  .card img {
    height: 90px;
  }
  
}
.cards {
  max-height: 120px;
  overflow: auto;
  max-width: 100%;
  scrollbar-color: red yellow;
}
.other-players-info {
  display: inline-block;
  max-width: 240px ;
  margin-right: 5px;
}

.card-count {
  height: 35px;
  width: 35px;
  background-color: yellow;
  background: url('./card-back.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  color: rgba(5,37,23,4);
  font-weight: bold;
  padding-left: 4px;
  padding-top: 10px;
  

}

.players-cards {
  width: 100%;
  overflow: auto;
}




